*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', 'Time-news-roman', sans-serif;
}
a{
    text-decoration: none;
    color: white;
}
body{
    background-image:  linear-gradient(rgba(0, 0, 0, 0.205),rgba(3, 3, 31, 0.295)),url(./assets/bg.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-attachment: relative;
    background-size: cover;
    height: auto;
    /* background-position: top center;
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
    background-color: #121214;
    height: 100vh;  */
}
header{
    display: flex;
    justify-content: center;
    max-width: 580px;
    margin: auto;
    margin-top: 10px;
}
header img{
    border-radius: 50%;
    width: 80px;
    margin-left: 5px;
}

@media screen  and (max-width:600px){
    header{
        display: none;
    }
    body{
    background-attachment: fixed;
    }
    .lista-utilitarios li a{
        width: 60px;
        height: 90px;
    }
}
main{
    max-width: 580px;
    height: auto;
    width: 90%;
    margin: 32px auto;
    display: grid;
    gap: 24px;
    
}
main section{

}
main section div{
    color: white;
    display: flex;
    flex-direction: column;
    gap: 16px;
    background-color: rgba(7, 15, 58, 0.349);
    backdrop-filter: blur(3px);
    padding: 32px;
    padding-top: 24px;
    border-radius: 8px;
}
main section ul{
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 24px;
}

ul.lista-utilitarios{
    justify-content: space-around;
}
.lista-grupos a{
    width: 110px;
    height: 70px;
    color: lightblue;
}
.lista-grupos p {
    font-size: 0.9rem;
    font-style: italic;
    color: lightgray;
    text-align: justify;
    
}
ul.lista-grupos{
    justify-content: space-between;
}
/* .lista-grupos{
    display: flex;
    justify-content: center;
} */
main section ul li{
    transition: .3s;
}
main section ul li:hover{
    transform: scale(1.2);
}
main section ul li a{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

ul.lista-grupos a{
    width: 90px;
    height: 90px;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
}
ul.lista-grupos a span{
    text-align: center;
}
.lista-grupos img{
    width: 50px;
    border-radius: 50%;
}
.lista-utilitarios img{
    width: 60px;
    height: 70px;
    border-radius: 20%;
}

.lista-canais img{
    width: 70px;
    border: 1px solid blue;
    border-radius: 20%;
}

/* Footer  */
footer{
    display: flex;
    /* max-width: 580px; */
    width: 100%;
    background-color: rgba(7, 14, 58, 0.534);
    backdrop-filter: blur(6px);
    color: lightblue;
}
#contato{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
 
}
#sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    width: 50%;
    border-right: 1px solid white;
}
#sobre div{
    width: 160px;
    height: 130px;
}
#sobre a{
    width: 30px;
    height: 30px;
}
#sobre svg:hover{
   color: blue;
}
#sobre svg{
    width: 100%;
    height: 100%;
    color: lightskyblue
}
#character{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer img{
    width: 180px;
    height: 160px;
}
#info{
    margin: 5px;
}
#wendle{
    /* border: 1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
    overflow: hidden;
    border-radius: 20%;
}